<!DOCTYPE html>
<html>
<head>

  <%= include_gon %>

  <%= render 'layouts/meta' %>

  <%= csrf_meta_tag %>

  <%= render 'layouts/stylesheet_javascript' %>

  <%= render 'layouts/shim' %>

</head>
<body>
<div class="container-narrow">

  <%= render 'layouts/top_header' %>

  <hr>

  <% flash.each do |name, msg| %>
      <p><%= content_tag :div, msg, id: "flash_#{name}" %></p>
  <% end %>
  <%= yield %>
  <%= debug(params) if Rails.env.development? %>
  <hr>

  <%= render 'layouts/footer' %>
</div>
</body>
</html>
